@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  --primary: #bc8c4c;
  --secondary: #e4c46c;
  --tertiary: #672b15;
}

body,
html {
  background-color: var(--secondary);
  height: 100%;
}

/* !!!! Header !!!!*/
header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
h1 {
  border-bottom: 2px solid var(--tertiary);
  width: fit-content;
  display: inline-block;
  color: var(--primary);
  text-align: center;
  letter-spacing: 0.15rem;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

/* !!!! Main !!!!*/
main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  justify-items: center;
}
/*  Board */

#board {
  margin-top: 1.5rem;
  grid-column: span 8;
  width: 80vw;
  height: 80vw;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  border: 3px solid var(--tertiary);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6),
    -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.6);
}

.row {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.board-square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

#board .row:nth-child(even) .board-square:nth-child(even) {
  background-color: var(--secondary);
  color: black;
}

#board .row:nth-child(odd) .board-square:nth-child(odd) {
  background-color: var(--secondary);
  color: black;
}

#board .row:nth-child(even) .board-square:nth-child(odd) {
  background-color: var(--primary);
  color: black;
}

#board .row:nth-child(odd) .board-square:nth-child(even) {
  background-color: var(--primary);
  color: black;
}

.board-icon {
  width: 80%;
  height: auto;
}

/*  Instructions/Result Display  */

#instruction-result {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  grid-column: span 8;
  grid-row: 1;
  background-color: var(--primary);
  border: 2px solid var(--tertiary);
  border-radius: 1rem;
  width: 85vw;
}

.hidden {
  display: none;
}

/*  Game Buttons*/
.game-buttons {
  margin-top: 0.8rem;
  grid-column: span 8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.button {
  width: 30vw;
  padding: 0.3rem;
  height: 100%;
  font-size: 1rem;
  background-color: var(--primary);
  border: 2px solid var(--tertiary);
  border-radius: 0.5rem;
  transition: background-color 0.6s;
  color: black;
  box-shadow: 0.4rem 0.4rem.7rem rgba(0, 0, 0, 0.24);
}

.button:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

/*  Footer  */

footer {
  margin-top: 1rem;
  background-color: var(--tertiary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-information {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-information .footer-note {
  flex-basis: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-logo {
  margin-left: 0.2rem;
  transition: filter 2s;
}

.github-logo:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.github-logo:active {
  cursor: pointer;
  transform: scale(0.9);
}

.credits {
  font-size: 0.6rem;
}

/*   Sticky Footer    */

.page-wrap {
  min-height: 100%;
  margin-bottom: -75px;
}

footer,
.page-wrap:after {
  height: 75px;
}

.page-wrap:after {
  content: "";
  display: block;
}

/*   !!!!!!   Media Queries         */

@media (min-width: 768px) {
  :root {
    font-size: 25px;
  }
  .button {
    width: 40vw;
    padding: 0.3rem;
    height: 100%;
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 25px;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }

  #board {
    margin-left: 2rem;
    grid-column: 1/2;
    width: 35vw;
    height: 35vw;
  }

  #instruction-result {
    grid-column: span 2;
    grid-row: 1;
  }

  .game-buttons {
    grid-template-columns: 1fr !important;
    grid-column: 2;
    width: 80%;
    justify-items: flex-start;
  }

  .button {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 20rem;
  }
}
