h1{
  color: red;
}
#board{
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(8,1fr);
  border: 1px solid black;
}
.row{
  display: grid;
  grid-template-columns: repeat(8,1fr);
}
#board .row:nth-child(even) .board-square:nth-child(odd){
  background-color: white;
}
#board .row:nth-child(even) .board-square:nth-child(odd){
  background-color: black;
  color: white;
}

#board .row:nth-child(odd) .board-square:nth-child(even){
  background-color: black;
}

.hidden {
  display:none;
}

.board-icon{
  width: 90%;
  height: auto;
}